/* Container for input field and icon */
.input-container-search {
    position: relative;

}

/* Search icon */
.search-icon-search {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border-radius: 27px;
}

input[type="text"] {
    padding: 8px 20px;
    border: 1px solid #ccc;
    border-radius: 27px;
}

.dropdown .dropdown-content {
    top: 30px;
    margin-bottom: 300px;
}

.carousel-area-main {
    position: relative;
}

.all-fruits {
    position: absolute;
    bottom: -20%;
    left: 20%;
}

@media only screen and (max-width: 1279px) {
    .all-fruits {
        bottom: -30%;
        left: 13%;
    }
}

@media only screen and (max-width: 1023px) {
    .all-fruits {
        display: none;
    }
}